
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: quicksand;
  color: #3d2221; 
}

img {
  max-width: 100%;
  display: block;
}

.component img {
  max-width: initial;
}

.component-img {
  border: 1px solid #ccc;
  overflow-x: auto;
}

.component-code {
  border: 1px solid #ccc;
}
