<DOCTYPE html>
<html lang="en">
<head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible"content="ie=edge">
<title>Home</title>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/normalize.css">
<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1> WEB COMPONENTS GO HERE </h1>

	<h2> Typography Defaults </h2>

 <article class="components">
    <h3 class="component-name"> Body </h3>
	<img srcset="image/bodycopy.jpg 2x" src="bodycopy.jpg" alt="body copy"/>
	<div class="component-code">
		<p>There's always room for improvement, and we are committed to
		 learning and improving. We plan on continuously finding more ways to
		 <br>
		 reduce our impact on the planet.
		 <br>
		 <br>
         All our products are 100% made in Italy, so we can keep our carbon footprint minimal while supporting local business.
         <br>
         <br>
		In 2020, we achieved our first sustainability goal by eliminating plastic from all secondary packaging, including delivery.
		 <br>
		 <br>
		In March 2021, we became a carbon-neutral company by offsetting our CO2 emissions with investments in reforestation in countries including
		<br>
	    Cambodia, Peru, and Kenya.</p>
	</div>
</article>
</body>
</html>
